# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# Streamlit
.streamlit/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Data & Models
data/
models/
tensorboard_logs/
logs/
cache/
user_data/
